h1 {
    color: #F55743;
    font-size: 48px;
    font-family: "Helvetica";
    margin-bottom: 10px;
  }

h3 {
    color: #752A20;
    font-size: 18px;
    font-family: "Helvetica";
    font-weight: 600;
}

p {
    color:black;
    font-size: 20px;
    font-family: "Helvetica";
}

a {
    color:#F55743;
    font-size: 14px;
    font-family: "Helvetica";
    font-weight: 600;
    padding-right: 10px;
}

 .container {
    display: flex;
    align-items: center;
    justify-content: center;
}

#bio {
    margin-left: 100px;
    margin-right: 100px;
  }

#logo {
    width: 70px;
    margin-top: 15px;
}
  
.image {
    flex-basis: 5.5%
}
  
#heading {
    /* margin-bottom: 50px; */
 }

#Jess {
    max-width: 400px;
    margin-right: 3em;
}

#links {
    margin-bottom: 50px;
  }

#details div {
    float: left;
    background-color: #F7998D;
    text-align: center;
    width: 25%;
    margin-top: 150px;
  }

#details p {
    font-size: 14px;
  }

input {
    font-size: 18px;
    font-family: "Helvetica";
    border-color: #F7998D;
    border-radius: 15px;
    padding: 10px; 
    border-width: 2px;
  }

textarea {
    font-size: 18px;
    font-family: "Helvetica";
    border-color:#F7998D;
    border-radius: 15px;
    padding: 10px; 
    border-width: 2px;
  }


  button {
    font-size: 18px;
    font-family: "Helvetica";
    color: #ffff;
    background-color: #752A20;
    padding: 10px;
    border-radius: 15px;
  }
